body, h1, h2, h3, p, ul {
  margin: 0;
  padding: 0;
}

.container {
  padding-inline: 20px;
}

@media (width >= 640px) {
  .container {
    padding-inline: 41px;
  }
}

@media (width >= 1024px) {
  .container {
    padding-inline: 54px;
  }
}

@media (width >= 1600px) {
  .container {
    padding-inline: 227px;
  }
}

@media (width >= 2560px) {
  .container {
    padding-inline: 707px;
  }
}

input:-webkit-autofill {
  -webkit-text-fill-color: #fff;
  caret-color: #fff;
  border-width: 0 0 2px;
  border-color: #2060f6;
  transition: background-color .3s ease-in-out;
  -webkit-box-shadow: inset 0 0 0 1000px #2c2c2c;
}

input:-webkit-autofill:hover {
  -webkit-text-fill-color: #fff;
  caret-color: #fff;
  border-width: 0 0 2px;
  border-color: #2060f6;
  transition: background-color .3s ease-in-out;
  -webkit-box-shadow: inset 0 0 0 1000px #2c2c2c;
}

input:-webkit-autofill:focus {
  -webkit-text-fill-color: #fff;
  caret-color: #fff;
  border-width: 0 0 2px;
  border-color: #2060f6;
  transition: background-color .3s ease-in-out;
  -webkit-box-shadow: inset 0 0 0 1000px #2c2c2c;
}

select:-webkit-autofill {
  -webkit-text-fill-color: #fff;
  caret-color: #fff;
  border-width: 0 0 2px;
  border-color: #2060f6;
  transition: background-color .3s ease-in-out;
  -webkit-box-shadow: inset 0 0 0 1000px #2c2c2c;
}

select:-webkit-autofill:hover {
  -webkit-text-fill-color: #fff;
  caret-color: #fff;
  border-width: 0 0 2px;
  border-color: #2060f6;
  transition: background-color .3s ease-in-out;
  -webkit-box-shadow: inset 0 0 0 1000px #2c2c2c;
}

select:-webkit-autofill:focus {
  -webkit-text-fill-color: #fff;
  caret-color: #fff;
  border-width: 0 0 2px;
  border-color: #2060f6;
  transition: background-color .3s ease-in-out;
  -webkit-box-shadow: inset 0 0 0 1000px #2c2c2c;
}

.page {
  color: #fff;
  scroll-behavior: smooth;
  font-family: Open Sans, Poppins, sans-serif;
  font-size: 16px;
  line-height: 24px;
}

.page:has(.page__menu:target) {
  overflow: hidden;
}

.page__body {
  background: #f2f6fa;
  min-width: 320px;
  margin: 0;
}

.page__body--form {
  background: #2c2c2c;
}

.page__menu {
  z-index: 1;
  opacity: 0;
  pointer-events: none;
  transition: all .3s;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  transform: translateX(-100%);
}

.page__menu:target {
  opacity: 1;
  pointer-events: all;
  transform: translateX(0);
}

.header {
  background-color: #2c2c2c;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
  position: relative;
}

@media (width >= 1024px) {
  .header {
    padding-bottom: 205px;
  }
}

.header__title {
  color: #fff;
  letter-spacing: -2px;
  margin-bottom: 32px;
  font-family: Poppins, sans-serif;
  font-size: 52px;
  font-weight: 600;
  line-height: 120%;
}

@media (width >= 640px) {
  .header__title {
    margin-bottom: 24px;
    font-size: 64px;
    line-height: 68px;
  }
}

@media (width >= 1024px) {
  .header__title {
    width: 490px;
    margin-bottom: 32px;
  }
}

.header__description {
  color: #fff;
  margin-bottom: 72px;
  font-family: Open Sans, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 150%;
}

@media (width >= 640px) {
  .header__description {
    width: 362px;
    margin-bottom: 56px;
  }
}

@media (width >= 1024px) {
  .header__description {
    margin-bottom: 83px;
  }
}

.header__link {
  color: #fff;
  font-family: Poppins, sans-serif;
  font-size: 15px;
  font-weight: 600;
}

.header__button {
  box-sizing: border-box;
  background-color: #2060f6;
  border-radius: 8px;
  justify-content: center;
  width: 100%;
  margin-bottom: 48px;
  padding-block: 14px;
  text-decoration: none;
  transition: all .3s;
  display: flex;
}

@media (width >= 1024px) {
  .header__button:hover {
    background-color: #fff;
  }

  .header__button:hover .header__link {
    color: #2060f6;
  }
}

@media (width >= 640px) {
  .header__button {
    width: 264px;
    margin-bottom: 147px;
  }
}

@media (width >= 1024px) {
  .header__button {
    margin-bottom: 0;
  }
}

.header-hero {
  position: relative;
}

@media (width >= 1024px) {
  .header-hero {
    width: 502px;
    height: 680px;
    position: absolute;
    bottom: 0;
    right: 0;
  }
}

@media (width >= 1600px) {
  .header-hero {
    width: 687px;
  }
}

@media (width >= 2560px) {
  .header-hero {
    width: 1167px;
  }
}

.header-hero__container {
  position: relative;
}

.header-hero__image {
  object-fit: cover;
  border-radius: 30px;
  width: 100%;
  height: 390px;
  margin-bottom: -8px;
}

@media (width >= 1024px) {
  .header-hero__image {
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
    height: 680px;
    margin-bottom: 0;
  }
}

.header-hero__content {
  position: absolute;
  bottom: 0;
  left: 20px;
}

@media (width >= 640px) {
  .header-hero__content {
    left: 41px;
  }
}

@media (width >= 1024px) {
  .header-hero__content {
    align-items: center;
    gap: 24px;
    padding-bottom: 48px;
    display: flex;
    left: 78px;
  }
}

@media (width >= 1600px) {
  .header-hero__content {
    left: 48px;
  }
}

.header-hero__title {
  color: #fff;
  letter-spacing: 3px;
  text-transform: uppercase;
  padding-block: 16px 8px;
  font-family: Poppins, sans-serif;
  font-size: 13px;
  font-weight: 700;
}

@media (width >= 1024px) {
  .header-hero__title {
    padding-block: 0 8px;
  }
}

.header-hero__description {
  color: #fff;
  width: 280px;
  padding-bottom: 24px;
  font-family: Open Sans, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 140%;
}

@media (width >= 1024px) {
  .header-hero__description {
    padding-bottom: 0;
  }
}

.icon {
  width: 24px;
  height: 24px;
  display: block;
}

.icon--menu {
  background-image: url("icon-menu.a267a292.png");
}

@media (width >= 1024px) {
  .icon--menu {
    display: none;
  }
}

.icon--close {
  background-image: url("icon-close.6f3ede5c.png");
}

.top-bar {
  justify-content: space-between;
  margin-bottom: 48px;
  padding-top: 20px;
  display: flex;
}

@media (width >= 640px) {
  .top-bar {
    margin-bottom: 56px;
  }
}

@media (width >= 1024px) {
  .top-bar {
    margin-bottom: 168px;
    padding-top: 52px;
  }
}

.top-bar__logo {
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #fff;
  width: -moz-fit-content;
  width: fit-content;
  font-weight: 700;
  line-height: 46px;
  text-decoration: none;
  transition: all .3s;
  display: block;
}

.top-bar__logo:hover {
  transform: scale(1.1);
}

.top-bar-aside {
  padding-top: 20px;
}

.top-bar-left {
  flex-direction: row;
  align-items: center;
  gap: 32px;
  transition: all .3s;
  display: flex;
}

@media (width >= 1024px) {
  .top-bar-left {
    gap: 0;
  }
}

.top-bar-left__menu {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.top-bar-right {
  align-items: center;
  display: flex;
}

.top-bar-right__description {
  text-align: center;
  color: #fff;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-family: Poppins, sans-serif;
  font-size: 13px;
  font-weight: 700;
  line-height: 150%;
  text-decoration: none;
  position: relative;
}

.top-bar-right__description:after {
  content: "";
  transform-origin: 0;
  background-color: #2060f6;
  border-radius: 4px;
  width: 100%;
  height: 2px;
  display: block;
  position: absolute;
  bottom: -8px;
  transform: scale(1);
}

.menu {
  box-sizing: border-box;
  background-color: #2c2c2c;
  flex-direction: column;
  display: flex;
}

.menu__content {
  flex-direction: column;
  height: 100vh;
  margin-top: 100px;
  padding-inline: 20px;
  display: flex;
}

@media (width >= 640px) {
  .menu__content {
    padding-inline: 41px;
  }
}

@media (width >= 1024px) {
  .menu__content {
    padding-inline: 54px;
  }
}

@media (width >= 1600px) {
  .menu__content {
    padding-inline: 227px;
  }
}

@media (width >= 2560px) {
  .menu__content {
    padding-inline: 707px;
  }
}

.menu__content--desktop {
  display: none;
}

@media (width >= 1024px) {
  .menu__content--desktop {
    padding-inline: 20px;
    display: flex;
  }
}

@media (width >= 1024px) and (width >= 640px) {
  .menu__content--desktop {
    padding-inline: 41px;
  }
}

@media (width >= 1024px) and (width >= 1024px) {
  .menu__content--desktop {
    padding-inline: 54px;
  }
}

@media (width >= 1024px) and (width >= 1600px) {
  .menu__content--desktop {
    padding-inline: 227px;
  }
}

@media (width >= 1024px) and (width >= 2560px) {
  .menu__content--desktop {
    padding-inline: 707px;
  }
}

@media (width >= 2560px) {
  .menu__content--desktop {
    padding-inline: 0;
  }
}

.menu__nav {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

@media (width >= 1024px) {
  .menu__nav {
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
  }
}

.nav__list {
  flex-direction: column;
  gap: 48px;
  list-style: none;
  display: flex;
}

@media (width >= 1024px) {
  .nav__list {
    flex-direction: row;
  }
}

.nav__list-bottom {
  gap: 24px;
}

@media (width >= 640px) {
  .nav__list-bottom {
    flex-direction: row;
    gap: 40px;
  }
}

@media (width >= 1024px) {
  .nav__list-bottom {
    gap: 64px;
  }
}

.nav__item {
  color: inherit;
  position: relative;
}

.nav__link {
  color: #fff;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-family: Poppins, sans-serif;
  font-size: 13px;
  font-weight: 700;
  line-height: 150%;
  text-decoration: none;
  display: block;
}

.nav__link:after {
  content: "";
  transform-origin: 0;
  background-color: #2060f6;
  border-radius: 4px;
  width: 100%;
  height: 2px;
  transition: transform .3s;
  display: block;
  position: absolute;
  bottom: -8px;
  transform: scale(0);
}

.nav__link:hover:after {
  transform: scale(1);
}

.nav__link-bottom {
  text-align: start;
}

.main {
  background: #f2f6fa;
}

.main__content {
  row-gap: 120px;
  padding-bottom: 120px;
  display: grid;
}

@media (width >= 640px) {
  .main__content {
    row-gap: 148px;
    padding-bottom: 0;
  }
}

.section-title {
  color: #253757;
  font-family: Poppins, sans-serif;
  font-weight: 600;
}

.about-us {
  padding-top: 120px;
  background: #f2f6fa;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-inline: 20px;
  display: flex;
}

@media (width >= 640px) {
  .about-us {
    padding-inline: 41px;
  }
}

@media (width >= 1024px) {
  .about-us {
    padding-inline: 54px;
  }
}

@media (width >= 1600px) {
  .about-us {
    padding-inline: 227px;
  }
}

@media (width >= 2560px) {
  .about-us {
    padding-inline: 707px;
  }
}

@media (width >= 640px) {
  .about-us {
    padding-top: 148px;
  }
}

@media (width >= 1024px) {
  .about-us {
    padding-inline: 154px;
  }
}

@media (width >= 1600px) {
  .about-us {
    padding-inline: 423px;
  }
}

@media (width >= 2560px) {
  .about-us {
    padding-inline: 903px;
  }
}

.about-us__title {
  margin-bottom: 24px;
  font-size: 32px;
  line-height: 150%;
}

@media (width >= 640px) {
  .about-us__title {
    margin-bottom: 16px;
  }
}

.about-us__description {
  color: #6c788b;
  text-align: center;
  font-family: Open Sans, sans-serif;
  font-size: 22px;
  font-weight: 600;
  line-height: 150%;
}

@media (width >= 640px) {
  .about-us__description {
    font-size: 24px;
  }
}

.our-expertise {
  box-sizing: border-box;
  background-color: #fff;
  border-radius: 30px;
  padding-block: 72px;
  padding-inline: 20px;
}

@media (width >= 640px) {
  .our-expertise {
    padding-inline: 41px;
  }
}

@media (width >= 1024px) {
  .our-expertise {
    padding-inline: 54px;
  }
}

@media (width >= 1600px) {
  .our-expertise {
    padding-inline: 227px;
  }
}

@media (width >= 2560px) {
  .our-expertise {
    padding-inline: 707px;
  }
}

@media (width >= 640px) {
  .our-expertise {
    padding-block: 128px;
  }
}

@media (width >= 1024px) {
  .our-expertise {
    padding-block: 128px 134px;
  }
}

.our-expertise__title {
  text-align: center;
  margin-bottom: 56px;
  font-size: 44px;
  line-height: 120%;
}

@media (width >= 640px) {
  .our-expertise__title {
    margin-bottom: 64px;
    font-size: 52px;
    line-height: 150%;
  }
}

.recommended {
  --columns: 2;
  grid-template-columns: repeat(var(--columns), 1fr);
  gap: 56px 20px;
  display: grid;
}

@media (width >= 640px) {
  .recommended {
    --columns: 6;
    column-gap: 30px;
  }
}

@media (width >= 1024px) {
  .recommended {
    --columns: 12;
    column-gap: 20px;
  }
}

@media (width >= 1600px) {
  .recommended {
    column-gap: 30px;
  }
}

@media (width >= 640px) {
  .recommended {
    row-gap: 72px;
  }
}

@media (width >= 1024px) {
  .recommended {
    justify-content: center;
    row-gap: 0;
  }
}

.recommended__product {
  grid-column: 1 / -1;
  transition: transform .3s;
}

.recommended__product:hover {
  cursor: pointer;
  transform: scale(1.05);
}

@media (width >= 640px) {
  .recommended__product {
    grid-column: 2 / 6;
  }
}

@media (width >= 1024px) {
  .recommended__product--desktop-position-one {
    grid-column: 1 / 4;
  }

  .recommended__product--desktop-position-two {
    grid-column: 5 / 9;
  }

  .recommended__product--desktop-position-three {
    grid-column: 10 / 13;
  }
}

.recommended__content {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.recommended__photo {
  border-radius: 30px;
  margin-bottom: 32px;
}

.recommended__title {
  color: #253757;
  text-align: center;
  margin-bottom: 16px;
  font-family: Poppins, sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 140%;
}

.recommended__description {
  color: #6c788b;
  text-align: center;
  font-family: Open Sans, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
}

@media (width >= 1024px) {
  .recommended__description {
    width: 214px;
  }
}

@media (width >= 1600px) {
  .recommended__description {
    width: 264px;
  }
}

.services {
  --columns: 2;
  grid-template-columns: repeat(var(--columns), 1fr);
  column-gap: 20px;
  padding-block: 0;
  padding-inline: 20px;
  display: grid;
}

@media (width >= 640px) {
  .services {
    --columns: 6;
    column-gap: 30px;
  }
}

@media (width >= 1024px) {
  .services {
    --columns: 12;
    column-gap: 20px;
  }
}

@media (width >= 1600px) {
  .services {
    column-gap: 30px;
  }
}

@media (width >= 640px) {
  .services {
    padding-inline: 41px;
  }
}

@media (width >= 1024px) {
  .services {
    padding-inline: 54px;
  }
}

@media (width >= 1600px) {
  .services {
    padding-inline: 227px;
  }
}

@media (width >= 2560px) {
  .services {
    padding-inline: 707px;
  }
}

@media (width >= 640px) {
  .services {
    gap: 30px;
  }
}

@media (width >= 1024px) {
  .services {
    gap: 20px;
    padding-block: 70px 40px;
  }
}

@media (width >= 1600px) {
  .services {
    gap: 30px;
  }
}

.services__information-container {
  grid-column: 1 / -1;
  margin-bottom: 48px;
}

@media (width >= 640px) {
  .services__information-container {
    grid-column: span 3;
    margin-bottom: 8px;
  }
}

@media (width >= 1024px) {
  .services__information-container {
    grid-column: span 4;
    margin-bottom: 0;
  }
}

.services__subtitle {
  color: #c0cdd7;
  text-align: left;
  letter-spacing: 3px;
  text-transform: uppercase;
  margin-bottom: 16px;
  font-family: Poppins, sans-serif;
  font-size: 13px;
  font-weight: 700;
}

.services__title {
  margin-bottom: 24px;
  font-size: 32px;
  line-height: 130%;
}

.services__description {
  color: #6c788b;
  font-family: Open Sans, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
}

.services-card {
  box-sizing: border-box;
  background-color: #fff;
  border-radius: 16px;
  flex-direction: column;
  grid-column: 1 / -1;
  align-items: flex-start;
  margin-bottom: 24px;
  padding: 32px 30px 41px 32px;
  display: flex;
}

.services-card:last-child() {
  margin-bottom: 0;
}

@media (width >= 640px) {
  .services-card {
    margin-bottom: 0;
  }

  .services-card--position-one {
    grid-column: 1 / 4;
  }
}

@media (width >= 1024px) {
  .services-card--position-one {
    grid-column: 7 / 10;
    transform: translateY(15%);
  }
}

@media (width >= 640px) {
  .services-card--position-two {
    grid-column: 4 / 7;
    transform: translateY(-50%);
  }
}

@media (width >= 1024px) {
  .services-card--position-two {
    grid-column: span 3;
    transform: translateY(-25%);
  }
}

@media (width >= 640px) {
  .services-card--position-three {
    grid-column: 1 / 4;
  }
}

@media (width >= 1024px) {
  .services-card--position-three {
    grid-column: 7 / 10;
    transform: translateY(15%);
  }
}

@media (width >= 640px) {
  .services-card--position-four {
    grid-column: 4 / 7;
    transform: translateY(-50%);
  }
}

@media (width >= 1024px) {
  .services-card--position-four {
    grid-column: span 3;
    transform: translateY(-25%);
  }
}

.services-card__number {
  background-color: #2060f61a;
  border-radius: 23px;
  justify-content: center;
  align-items: center;
  margin-bottom: 24px;
  display: flex;
}

.services-card__count {
  color: #2060f6;
  text-align: center;
  text-transform: uppercase;
  padding: 2px 12px;
  font-family: Poppins, sans-serif;
  font-size: 13px;
  font-weight: 600;
}

.services-card__list {
  margin: 0 0 32px;
  padding: 0;
  list-style: none;
}

.services-card__description {
  color: #6c788b;
  font-family: Open Sans, sans-serif;
  font-size: 13px;
  font-weight: 600;
  line-height: 150%;
}

.services-card__button {
  align-items: center;
  gap: 16px;
  text-decoration: none;
  transition: all .3s;
  display: flex;
}

.services-card__button:hover {
  transform: scale(1.1);
}

.services-card__arrow {
  background-color: #2060f6;
  background-image: url("mdi_arrow_forward.07e93bba.png");
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 100%;
  width: 40px;
  height: 40px;
  display: block;
}

.services-card__title {
  color: #2c2c2c;
  text-align: center;
  font-family: Poppins, sans-serif;
  font-size: 15px;
  font-weight: 600;
}

.apply {
  background-color: #fff;
  padding-block: 72px;
  padding-inline: 20px;
}

@media (width >= 640px) {
  .apply {
    padding-inline: 41px;
  }
}

@media (width >= 1024px) {
  .apply {
    padding-inline: 54px;
  }
}

@media (width >= 1600px) {
  .apply {
    padding-inline: 227px;
  }
}

@media (width >= 2560px) {
  .apply {
    padding-inline: 707px;
  }
}

@media (width >= 640px) {
  .apply {
    background-image: url("Shapes.e4034ff8.png");
    background-position: 53% 45%;
    background-repeat: no-repeat;
    background-size: 900px;
    padding-block: 200px;
  }
}

@media (width >= 1024px) {
  .apply {
    background-repeat: no-repeat;
    background-size: auto;
    padding-inline: 135px;
  }
}

@media (width >= 1600px) {
  .apply {
    background-position: 50%;
    background-size: cover;
    padding-inline: 423px;
  }
}

@media (width >= 2560px) {
  .apply {
    padding-inline: 903px;
  }
}

.apply__content {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.apply__title {
  text-align: center;
  margin-bottom: 24px;
  font-size: 44px;
  line-height: 120%;
}

@media (width >= 640px) {
  .apply__title {
    font-size: 52px;
  }
}

@media (width >= 1024px) {
  .apply__title {
    line-height: 150%;
  }
}

.apply__description {
  color: #6c788b;
  text-align: center;
  margin-bottom: 56px;
  font-family: Open Sans, sans-serif;
  font-size: 22px;
  font-weight: 600;
  line-height: 150%;
}

@media (width >= 640px) {
  .apply__description {
    margin-bottom: 64px;
    font-size: 24px;
  }
}

.apply__link {
  color: #fff;
  text-align: center;
  font-family: Poppins, sans-serif;
  font-size: 15px;
  font-weight: 600;
  line-height: normal;
}

.apply__button {
  box-sizing: border-box;
  background-color: #2060f6;
  border-radius: 8px;
  justify-content: center;
  width: 100%;
  padding-block: 16px;
  text-decoration: none;
  transition: all .3s;
  display: flex;
}

@media (width >= 1024px) {
  .apply__button:hover {
    background-color: #6c788b;
  }

  .apply__button:hover .header__link {
    color: #2060f6;
  }
}

@media (width >= 640px) {
  .apply__button {
    width: 264px;
  }
}

.feedback {
  padding-block: 0;
  padding-inline: 20px;
}

@media (width >= 640px) {
  .feedback {
    padding-inline: 41px;
  }
}

@media (width >= 1024px) {
  .feedback {
    padding-inline: 54px;
  }
}

@media (width >= 1600px) {
  .feedback {
    padding-inline: 227px;
  }
}

@media (width >= 2560px) {
  .feedback {
    padding-inline: 707px;
  }
}

.feedback__titles {
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  margin-bottom: 48px;
  display: flex;
}

@media (width >= 640px) {
  .feedback__titles {
    margin-bottom: 56px;
  }
}

@media (width >= 1024px) {
  .feedback__titles {
    margin-bottom: 85px;
  }
}

.feedback__subtitle {
  color: #c0cdd7;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-family: Poppins, sans-serif;
  font-size: 13px;
  font-weight: 700;
}

.feedback__title {
  font-size: 32px;
  line-height: 150%;
}

@media (width >= 640px) {
  .feedback__title {
    white-space: pre-line;
  }
}

.feedback__container {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  display: flex;
}

@media (width >= 640px) {
  .feedback__container {
    gap: 30px;
  }
}

@media (width >= 1024px) {
  .feedback__container {
    flex-direction: row;
    gap: 20px;
  }
}

@media (width >= 1600px) {
  .feedback__container {
    gap: 30px;
  }
}

.feedback__card {
  background-color: #fff;
  border-radius: 16px;
  flex-direction: column;
  justify-content: center;
  width: 280px;
  padding-block: 35px 32px;
  transition: transform .3s;
  display: flex;
  box-shadow: 0 9px 18px #25293108;
}

.feedback__card:hover {
  cursor: pointer;
  transform: scale(1.05);
}

@media (width >= 640px) {
  .feedback__card {
    width: 558px;
  }
}

@media (width >= 1024px) {
  .feedback__card {
    width: 292px;
  }
}

.feedback__images {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 27px;
  display: flex;
}

.feedback__left-rectangle {
  background: #2060f6;
  border-radius: 12px;
  width: 108px;
  height: 43px;
  transform: rotate(-60deg)translateX(-50%)translateY(-30%);
}

@media (width >= 640px) {
  .feedback__left-rectangle {
    width: 139px;
    height: 56px;
  }
}

@media (width >= 1024px) {
  .feedback__left-rectangle {
    width: 108px;
    height: 43px;
  }
}

.feedback__photo {
  z-index: 1;
  border-radius: 100%;
  width: 109.76px;
  height: 109.76px;
  display: block;
}

@media (width >= 640px) {
  .feedback__photo {
    width: 140px;
    height: 140px;
  }
}

@media (width >= 1024px) {
  .feedback__photo {
    width: 109.76px;
    height: 109.76px;
  }
}

.feedback__right-rectangle {
  background: #2060f6;
  border-radius: 12px;
  width: 108px;
  height: 43px;
  transform: rotate(-60deg)translateX(50%)translateY(30%);
}

@media (width >= 640px) {
  .feedback__right-rectangle {
    width: 139px;
    height: 56px;
  }
}

@media (width >= 1024px) {
  .feedback__right-rectangle {
    width: 108px;
    height: 43px;
  }
}

.feedback__content {
  flex-direction: column;
  align-items: center;
  display: flex;
}

.feedback__quote {
  width: 24px;
  height: 24px;
  margin-bottom: 8px;
  display: block;
}

@media (width >= 640px) {
  .feedback__quote {
    margin-bottom: 16px;
  }
}

@media (width >= 1024px) {
  .feedback__quote {
    margin-bottom: 8px;
  }
}

.feedback__description {
  color: #6c788b;
  text-align: center;
  margin-bottom: 16px;
  padding-inline: 42px;
  font-family: Open Sans, sans-serif;
  font-size: 13px;
  font-weight: 600;
  line-height: 150%;
}

@media (width >= 640px) {
  .feedback__description {
    padding-inline: 98px;
  }
}

@media (width >= 1024px) {
  .feedback__description {
    padding-inline: 48px;
  }
}

.feedback__person {
  color: #2c2c2c;
  text-align: center;
  margin-bottom: 4px;
  font-family: Open Sans, sans-serif;
  font-size: 13px;
  font-weight: 600;
  line-height: 150%;
}

.footer {
  background-color: #2c2c2c;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  padding-block: 72px 80px;
  padding-inline: 20px;
}

@media (width >= 640px) {
  .footer {
    padding-inline: 41px;
  }
}

@media (width >= 1024px) {
  .footer {
    padding-inline: 54px;
  }
}

@media (width >= 1600px) {
  .footer {
    padding-inline: 227px;
  }
}

@media (width >= 2560px) {
  .footer {
    padding-inline: 707px;
  }
}

@media (width >= 640px) {
  .footer {
    padding-block: 180px 80px;
  }
}

@media (width >= 1024px) {
  .footer {
    padding-block: 180px 84px;
  }
}

.footer__section {
  --columns: 2;
  grid-template-columns: repeat(var(--columns), 1fr);
  column-gap: 20px;
  display: grid;
}

@media (width >= 640px) {
  .footer__section {
    --columns: 6;
    column-gap: 30px;
  }
}

@media (width >= 1024px) {
  .footer__section {
    --columns: 12;
    column-gap: 20px;
  }
}

@media (width >= 1600px) {
  .footer__section {
    column-gap: 30px;
  }
}

.footer__wrapper {
  grid-column: 1 / -1;
}

@media (width >= 640px) {
  .footer__wrapper {
    grid-column: 1 / 5;
  }
}

@media (width >= 1024px) {
  .footer__wrapper {
    grid-column: 1 / 6;
  }
}

.footer__faq-container {
  grid-column: 1 / -1;
}

@media (width >= 640px) {
  .footer__faq-container {
    grid-column: 1 / 5;
  }
}

@media (width >= 1024px) {
  .footer__faq-container {
    grid-column: 7 / 12;
  }
}

.footer__faq-content {
  flex-direction: column;
  gap: 20px;
  margin-bottom: 48px;
  display: flex;
}

.footer__title-contact-us {
  color: #fff;
  grid-column: 1 / -1;
  margin-bottom: 48px;
  font-family: Poppins, sans-serif;
  font-size: 32px;
  font-weight: 600;
  line-height: 150%;
}

@media (width >= 640px) {
  .footer__title-contact-us {
    margin-bottom: 56px;
  }
}

@media (width >= 1024px) {
  .footer__title-contact-us {
    grid-area: 1 / 1 / auto / 3;
  }
}

.footer__title-faq {
  color: #fff;
  grid-column: 1 / -1;
  margin-bottom: 48px;
  font-family: Poppins, sans-serif;
  font-size: 32px;
  font-weight: 600;
  line-height: 130%;
}

@media (width >= 640px) {
  .footer__title-faq {
    margin-bottom: 56px;
  }
}

@media (width >= 1024px) {
  .footer__title-faq {
    grid-area: 1 / 9 / auto / 9;
  }
}

.footer__email {
  flex-direction: column;
  gap: 8px;
  display: flex;
}

.footer__write-us {
  color: #fff;
  opacity: .5;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-family: Poppins, sans-serif;
  font-size: 13px;
  font-weight: 700;
}

.footer__email-adress {
  color: #fff;
  margin-bottom: 40px;
  font-family: Open Sans, sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 150%;
  text-decoration: none;
}

.footer__email-adress:hover {
  color: #2060f6;
  transition: all .3s;
}

.footer__email-adress:hover:hover {
  all: .3s;
}

.footer__email-adress:active {
  color: #2060f6;
}

@media (width >= 640px) {
  .footer__email-adress {
    margin-bottom: 48px;
  }
}

.footer__rules {
  flex-direction: column;
  gap: 8px;
  display: flex;
}

.footer__regulations {
  color: #fff;
  opacity: .5;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-family: Poppins, sans-serif;
  font-size: 13px;
  font-weight: 700;
}

.footer__faq-question {
  color: #fff;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  font-family: Poppins, sans-serif;
  font-size: 22px;
  font-weight: 700;
  line-height: 120%;
}

.footer__faq-text {
  color: #fff;
  letter-spacing: 1px;
  font-family: Open Sans, sans-serif;
  font-size: 16px;
  font-weight: 700;
}

.footer__link {
  color: #fff;
  margin-bottom: 40px;
  font-family: Open Sans, sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 150%;
  text-decoration: none;
}

.footer__link:hover {
  color: #2060f6;
  transition: all .3s;
}

.footer__link:hover:hover {
  all: .3s;
}

.footer__link:active {
  color: #2060f6;
}

@media (width >= 640px) {
  .footer__link {
    margin-bottom: 48px;
  }
}

.footer__copyright {
  color: #fff;
  opacity: .5;
  letter-spacing: 3px;
  text-transform: uppercase;
  margin-bottom: 48px;
  font-family: Poppins, sans-serif;
  font-size: 11px;
  font-weight: 700;
}

@media (width >= 1024px) {
  .footer__navigation {
    flex-direction: row;
    justify-content: space-between;
    display: flex;
  }
}

.footer__top-bar {
  flex-direction: column;
  gap: 20px;
  display: flex;
}

@media (width >= 1024px) {
  .footer__top-bar {
    flex-direction: row;
    align-items: center;
    gap: 64px;
  }
}

.footer__bottom-bar {
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #fff;
  width: -moz-fit-content;
  width: fit-content;
  margin-bottom: 28px;
  font-weight: 700;
  line-height: 46px;
  text-decoration: none;
  transition: all .3s;
  display: block;
}

@media (width >= 640px) {
  .footer__bottom-bar {
    margin-bottom: 24px;
  }
}

@media (width >= 1024px) {
  .footer__bottom-bar {
    margin-bottom: 0;
  }
}

.footer__bottom-bar:hover {
  transform: scale(1.1);
}

.footer__nav-bottom {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.login-form {
  background-color: #2c2c2c;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  max-height: 100vh;
  padding-block: 92px 40px;
  padding-inline: 20px;
  display: flex;
  overflow: auto;
}

@media (width >= 640px) {
  .login-form {
    padding-inline: 41px;
  }
}

@media (width >= 1024px) {
  .login-form {
    padding-inline: 54px;
  }
}

@media (width >= 1600px) {
  .login-form {
    padding-inline: 227px;
  }
}

@media (width >= 2560px) {
  .login-form {
    padding-inline: 707px;
  }
}

.login-form__logo-container {
  justify-content: center;
  margin-bottom: 20px;
  display: flex;
}

@media (width >= 1024px) {
  .login-form__logo-container {
    margin-bottom: 50px;
  }
}

.login-form__logo {
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #fff;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 32px;
  font-weight: 700;
  line-height: 15px;
  text-decoration: none;
  transition: all .3s;
  display: block;
}

.login-form__logo:hover {
  transform: scale(1.1);
}

.login-form__wrapper {
  flex-direction: column;
  justify-content: space-between;
  display: flex;
}

.login-form__title {
  color: #fff;
  text-align: center;
  margin-bottom: 30px;
  font-family: Poppins, sans-serif;
  font-size: 28px;
  font-weight: 600;
  line-height: 150%;
}

@media (width >= 1024px) {
  .login-form__title {
    margin-bottom: 40px;
  }
}

.login-form__description {
  color: #fff;
  text-align: center;
  font-family: Poppins, sans-serif;
  font-size: 15px;
  font-weight: 600;
  line-height: 150%;
}

.login-form__link {
  color: #2060f6;
  text-align: center;
  font-family: Poppins, sans-serif;
  font-size: 15px;
  font-weight: 700;
  line-height: 150%;
  text-decoration: none;
}

.login-form__checkbox {
  background-color: #2060f6;
  width: 25px;
  height: 25px;
}

.login-form__form {
  flex-direction: column;
  align-items: center;
  gap: 30px;
  display: flex;
}

.login-form__input {
  color: #fff;
  background-color: #0000;
  border-width: 0 0 2px;
  border-color: #fff;
  outline: none;
  width: 300px;
  padding-bottom: 17px;
  font-family: Poppins, sans-serif;
  font-size: 15px;
  font-weight: 600;
}

.login-form__input:hover {
  color: #fff;
  border-color: #2060f6;
  font-family: Poppins, sans-serif;
  font-size: 15px;
  font-weight: 600;
}

.login-form__input::placeholder {
  color: #fff;
  opacity: .7;
  font-family: Poppins, sans-serif;
  font-size: 15px;
  font-weight: 600;
}

.login-form__button {
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  background-color: #2060f6;
  border: 1px solid #0000;
  border-radius: 8px;
  width: 300px;
  margin-bottom: 20px;
  padding-block: 16px;
  font-family: Poppins, sans-serif;
  font-size: 15px;
  font-weight: 600;
  text-decoration: none;
  transition: all .3s;
}

.login-form__button:hover {
  background-color: #144ed4;
}

@media (width >= 640px) {
  .login-form__button {
    width: 264px;
  }
}

.registration-form {
  background-color: #2c2c2c;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  max-height: 100vh;
  padding-block: 82px 80px;
  padding-inline: 20px;
  display: flex;
  overflow: auto;
}

@media (width >= 640px) {
  .registration-form {
    padding-inline: 41px;
  }
}

@media (width >= 1024px) {
  .registration-form {
    padding-inline: 54px;
  }
}

@media (width >= 1600px) {
  .registration-form {
    padding-inline: 227px;
  }
}

@media (width >= 2560px) {
  .registration-form {
    padding-inline: 707px;
  }
}

.registration-form__logo-container {
  justify-content: center;
  margin-bottom: 20px;
  display: flex;
}

@media (width >= 1024px) {
  .registration-form__logo-container {
    margin-bottom: 40px;
  }
}

.registration-form__logo {
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #fff;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 32px;
  font-weight: 700;
  line-height: 15px;
  text-decoration: none;
  transition: all .3s;
  display: block;
}

.registration-form__logo:hover {
  transform: scale(1.1);
}

.registration-form__wrapper {
  flex-direction: column;
  display: flex;
}

.registration-form__title {
  color: #fff;
  text-align: center;
  margin-bottom: 30px;
  font-family: Poppins, sans-serif;
  font-size: 28px;
  font-weight: 600;
  line-height: 150%;
}

@media (width >= 1024px) {
  .registration-form__title {
    margin-bottom: 40px;
  }
}

.registration-form__description {
  color: #fff;
  text-align: center;
  font-family: Poppins, sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 150%;
}

.registration-form__link {
  color: #2060f6;
  text-align: center;
  font-family: Poppins, sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 150%;
  text-decoration: none;
}

.registration-form__checkbox {
  background-color: #2060f6;
  width: 25px;
  height: 25px;
}

.registration-form__form {
  flex-direction: column;
  align-items: center;
  gap: 25px;
  display: flex;
}

.registration-form__input {
  color: #fff;
  background-color: #0000;
  border-width: 0 0 2px;
  border-color: #fff;
  outline: none;
  width: 300px;
  padding-bottom: 17px;
  font-family: Poppins, sans-serif;
  font-size: 15px;
  font-weight: 600;
}

.registration-form__input:hover {
  color: #fff;
  border-color: #2060f6;
  font-family: Poppins, sans-serif;
  font-size: 15px;
  font-weight: 600;
}

.registration-form__input::placeholder {
  color: #fff;
  opacity: .7;
  font-family: Poppins, sans-serif;
  font-size: 15px;
  font-weight: 600;
}

.registration-form__button {
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  background-color: #2060f6;
  border: 1px solid #0000;
  border-radius: 8px;
  width: 300px;
  margin-bottom: 15px;
  padding-block: 16px;
  font-family: Poppins, sans-serif;
  font-size: 15px;
  font-weight: 600;
  text-decoration: none;
  transition: all .3s;
}

.registration-form__button:hover {
  background-color: #144ed4;
}

@media (width >= 640px) {
  .registration-form__button {
    width: 264px;
  }
}

/*# sourceMappingURL=index.971c2ea4.css.map */
